## Programming Work

In [19]:
#Imports
import pandas as pd
import numpy as np
from tqdm.notebook import tqdm

In [20]:
#Loading Data
dga_data = pd.read_csv('dga.csv', sep=';')
dns_data = pd.read_csv('domains.csv', sep=';')

In [21]:
#Netlab 360 Data List
dga_data.head()

   Family           Domain
0  nymaim  vcrjdothtrh.net
1  nymaim   kvkriojtul.net
2  nymaim    astbynvq.info
3  nymaim     nppahcms.org
4  nymaim    gugbnrvck.com

In [22]:
#Assignment Data
dns_data.head()

   Family               Domain
0     NaN  anidgwelnidmzueo.ru
1     NaN  aopltfxjzsppylfh.ru
2     NaN  auvqjghelyqwtfsu.ru
3     NaN  axwiyyfbraskytvs.ru
4     NaN  aygrpumrlmymcwkh.ru

In [23]:
#Adding Match column and changing Family data to empty strings
dns_data['Match'] = 0
dns_data['Family'] = ''
dns_data.head()

  Family               Domain  Match
0         anidgwelnidmzueo.ru      0
1         aopltfxjzsppylfh.ru      0
2         auvqjghelyqwtfsu.ru      0
3         axwiyyfbraskytvs.ru      0
4         aygrpumrlmymcwkh.ru      0

In [25]:
dns_dict = dns_data.to_dict(orient='records')
dga_dict = dga_data.to_dict(orient='records')
print("Starting Search Script for matching Domain Names...")
sum = 0
for row1 in tqdm(dns_dict):
    for row2 in dga_dict:
        if row1['Domain'] == row2['Domain']:
                row1['Family'] = row2['Family']
                row1['Match'] = 1
                break
print("Script Ended")
dns_data = pd.DataFrame.from_dict(dns_dict)
for i in range(len(dns_data)):
    if dns_data['Match'][i] == 1:
        sum += 1
print("Matching Results Found from Netlab 360 Data List:  %d out %d" %(sum,len(dns_data)))

Starting Search Script for matching Domain Names...

  0%|          | 0/44 [00:00<?, ?it/s]

Script Ended
Matching Results Found from Netlab 360 Data List:  44 out 44

## Results

In [26]:
dns_data.head()

  Family               Domain  Match
0  feodo  anidgwelnidmzueo.ru      1
1  feodo  aopltfxjzsppylfh.ru      1
2  feodo  auvqjghelyqwtfsu.ru      1
3  feodo  axwiyyfbraskytvs.ru      1
4  feodo  aygrpumrlmymcwkh.ru      1

In [27]:
dns_data['Family'].value_counts()

feodo    44
Name: Family, dtype: int64

In [28]:
dns_data['Match'].value_counts()

1    44
Name: Match, dtype: int64

 We can see that 44 out 44 domains from our data was found in the [Netlab 360 Data List](https://data.netlab.360.com/feeds/dga/dga.txt) and every one of them is classified as **feodo** dga family